# Ignore data directory
extract-pipleine/data/

# Ignore specific config files
config/db_config.json
config/gcs_config.json

# Ignore Airflow logs
airflow_logs/

# Ignore Python cache
__pycache__/

# Ignore environment variables
.env

# Ignore postgres variables
staging-pipeline/.env

# Ignore GCS creds
staging-pipeline/config/gcs_service_account.json